In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import tqdm
import shutil 

plt.style.use('fivethirtyeight')
plt.style.use('seaborn-bright')

In [13]:
from constants import CLEANED_DATA_PATH, PREPROCESSED_DATA_PATH, PREPROCESSING_PLOTS_PATH
#from constants import PREPROCESSED_DATA_PATHS, CLEANED_DATA_PATH
PREPROCESSED_DATA_PATHS = glob.glob(PREPROCESSED_DATA_PATH + "/*.csv")
CLEANED_DATA_PATHS = glob.glob(CLEANED_DATA_PATH + "/*.csv")

In [6]:
len(CLEANED_DATA_PATHS), len(PREPROCESSED_DATA_PATHS)

(81, 93)

In [7]:
CLEANED_DATA_PATHS

['../data/5_cleaned_data\\ABMD.csv',
 '../data/5_cleaned_data\\ACN.csv',
 '../data/5_cleaned_data\\AMZN.csv',
 '../data/5_cleaned_data\\APA.csv',
 '../data/5_cleaned_data\\ARCB.csv',
 '../data/5_cleaned_data\\AZN.csv',
 '../data/5_cleaned_data\\BA.csv',
 '../data/5_cleaned_data\\BAC.csv',
 '../data/5_cleaned_data\\BAMXF.csv',
 '../data/5_cleaned_data\\BKNG.csv',
 '../data/5_cleaned_data\\BNTX.csv',
 '../data/5_cleaned_data\\BP.csv',
 '../data/5_cleaned_data\\BYND.csv',
 '../data/5_cleaned_data\\CDEV.csv',
 '../data/5_cleaned_data\\COLM.csv',
 '../data/5_cleaned_data\\CROX.csv',
 '../data/5_cleaned_data\\CTAS.csv',
 '../data/5_cleaned_data\\DISH.csv',
 '../data/5_cleaned_data\\DXCM.csv',
 '../data/5_cleaned_data\\F.csv',
 '../data/5_cleaned_data\\FANG.csv',
 '../data/5_cleaned_data\\FB.csv',
 '../data/5_cleaned_data\\FOXA.csv',
 '../data/5_cleaned_data\\GOOGL.csv',
 '../data/5_cleaned_data\\HMC.csv',
 '../data/5_cleaned_data\\HNNMY.csv',
 '../data/5_cleaned_data\\IBM.csv',
 '../data/5_cleaned_data\\IDXX.csv',
 '../data/5_cleaned_data\\IHRT.csv',
 '../data/5_cleaned_data\\INTC.csv',
 '../data/5_cleaned_data\\JJSF.csv',
 '../data/5_cleaned_data\\JPM.csv',
 '../data/5_cleaned_data\\KHC.csv',
 '../data/5_cleaned_data\\KNDI.csv',
 '../data/5_cleaned_data\\LI.csv',
 '../data/5_cleaned_data\\LOGI.csv',
 '../data/5_cleaned_data\\LPLA.csv',
 '../data/5_cleaned_data\\LYFT.csv',
 '../data/5_cleaned_data\\MASI.csv',
 '../data/5_cleaned_data\\MCD.csv',
 '../data/5_cleaned_data\\MRNA.csv',
 '../data/5_cleaned_data\\MS.csv',
 '../data/5_cleaned_data\\MSFT.csv',
 '../data/5_cleaned_data\\NEXT.csv',
 '../data/5_cleaned_data\\NTR.csv',
 '../data/5_cleaned_data\\NTRS.csv',
 '../data/5_cleaned_data\\NWSA.csv',
 '../data/5_cleaned_data\\NXST.csv',
 '../data/5_cleaned_data\\OAS.csv',
 '../data/5_cleaned_data\\OZK.csv',
 '../data/5_cleaned_data\\PAA.csv',
 '../data/5_cleaned_data\\PAGP.csv',
 '../data/5_cleaned_data\\PCAR.csv',
 '../data/5_cleaned_data\\PDCE.csv',
 '../data/5_cleaned_data\\PEP.csv',
 '../data/5_cleaned_data\\PPC.csv',
 '../data/5_cleaned_data\\PYPL.csv',
 '../data/5_cleaned_data\\RACE.csv',
 '../data/5_cleaned_data\\ROKU.csv',
 '../data/5_cleaned_data\\RYAAY.csv',
 '../data/5_cleaned_data\\SBUX.csv',
 '../data/5_cleaned_data\\SGEN.csv',
 '../data/5_cleaned_data\\SGMS.csv',
 '../data/5_cleaned_data\\SKYW.csv',
 '../data/5_cleaned_data\\SMRT.csv',
 '../data/5_cleaned_data\\SNY.csv',
 '../data/5_cleaned_data\\TM.csv',
 '../data/5_cleaned_data\\UAL.csv',
 '../data/5_cleaned_data\\UBER.csv',
 '../data/5_cleaned_data\\UL.csv',
 '../data/5_cleaned_data\\UPS.csv',
 '../data/5_cleaned_data\\URBN.csv',
 '../data/5_cleaned_data\\V.csv',
 '../data/5_cleaned_data\\VIACA.csv',
 '../data/5_cleaned_data\\VLKAF.csv',
 '../data/5_cleaned_data\\VRM.csv',
 '../data/5_cleaned_data\\WEYS.csv',
 '../data/5_cleaned_data\\WFRD.csv',
 '../data/5_cleaned_data\\WKHS.csv',
 '../data/5_cleaned_data\\WMG.csv',
 '../data/5_cleaned_data\\ZM.csv']

In [10]:
def clean_company(company, threshold, side_to_leave='right'):
    if side_to_leave == 'right':
        company=company[company.timestamp > threshold].reset_index(drop=True)
    elif side_to_leave == 'left':
        company=company[company.timestamp < threshold].reset_index(drop=True)
    return company

In [15]:
def visualize_after_cleaning(df, company_name):
    # time interval for the given company
    df.timestamp = pd.to_datetime(df.timestamp)
    starting_year = df['timestamp'][0].year
    ending_year = df['timestamp'][len(df) - 1].year
    # plot after cleaning
    fig = plt.figure(figsize=(14, 7), dpi=100)
    plt.plot(df['timestamp'], df['avg_price'], linewidth=2, linestyle='solid', color='orange')
    plt.title('{0} stock daily average prices {1} - {2} after cleaning'.format(company_name, starting_year, ending_year))
    plt.xlabel('Date')
    plt.ylabel('Daily average price values [\$]')
    plt.legend(['{0}'.format(company_name)])
    plt.savefig(PREPROCESSING_PLOTS_PATH + '/{0}_stock_daily_average_prices_{1}_{2}_after_cleaning.png'.format(company_name, starting_year, ending_year));
    #plt.show()
    plt.close(fig)

In [20]:
BAD_COMPANIES = ['AAPL', 'BSY', 'CHK', 'DISCB', 'GIII', 'GRUB', 'MCBS', 
                 'MNST', 'NFLX', 'NKE', 'NVDA', 'SCVL', 'TSLA']
for file_path in PREPROCESSED_DATA_PATHS:
    # extract company name
    company_name = file_path.split('../data/4_preprocessed_data\\')[1].replace(".csv", "")
    #print(company_name)
    if company_name not in BAD_COMPANIES:
        dst = f'{CLEANED_DATA_PATH}/{company_name}.csv'
        shutil.copyfile(file_path, dst)
        #print(dst)

for file_path in CLEANED_DATA_PATHS: #tqdm(CLEANED_DATA_PATHS, Desc='Cleaning data')
    # extract company name
    company_name = file_path.split('../data/5_cleaned_data\\')[1].replace(".csv", "")
    print(company_name)
    company = pd.read_csv(file_path, index_col=0)
    print(company)
    #TODO: clean data here
    if company_name == 'AZN':
        company = clean_company(company, threshold='', side_to_leave='right')
    elif company_name == 'SHOO':
        company = clean_company(company, threshold='2018-10-11', side_to_leave='right')
    elif company_name == 'CG':
         company = clean_company(company, threshold='2012-05-02', side_to_leave='right')
    elif company_name == 'SFM':
         company = clean_company(company, threshold='2013-07-31', side_to_leave='right')
    elif company_name == 'COLM':
             company = clean_company(company, threshold='2014-09-28', side_to_leave='right')
    elif company_name == 'HNNMY':
             company = clean_company(company, threshold='2010-06-06', side_to_leave='right')
    elif company_name == 'IHRT':
             company = clean_company(company, threshold='2019-07-17', side_to_leave='right')
    elif company_name == 'MRNA':
             company = clean_company(company, threshold='2018-12-06', side_to_leave='right')
    elif company_name == 'NEXT':
             company = clean_company(company, threshold='2017-07-24', side_to_leave='right')
    elif company_name == 'NWSA':
             company = clean_company(company, threshold='2013-06-31', side_to_leave='right')
    elif company_name == 'PAA':
             company = clean_company(company, threshold='2012-10-01', side_to_leave='right')
    elif company_name == 'PAGP':
             company = clean_company(company, threshold='2016-11-15', side_to_leave='right')
    elif company_name == 'PPC':
             company = clean_company(company, threshold='2009-12-28', side_to_leave='right')
    elif company_name == 'SBUX':
             company = clean_company(company, threshold='2015-04-08', side_to_leave='right')
    elif company_name == 'SMRT':
             company = clean_company(company, threshold='2020-08-22', side_to_leave='left')
    elif company_name == 'V':
             company = clean_company(company, threshold='2015-03-19', side_to_leave='right')
    elif company_name == 'WMG':
             company = clean_company(company, threshold='2020-06-02', side_to_leave='right')
    #save cleaned comopany
    company.to_csv(file_path)
    #visualize
    visualize_after_cleaning(company, company_name)

ABMD
       timestamp   avg_price
0     2008-01-02   15.393403
1     2008-01-03   15.148376
2     2008-01-04   14.626271
3     2008-01-05   14.638366
4     2008-01-06   14.650462
...          ...         ...
5030  2021-11-05  361.531677
5031  2021-11-06  360.465316
5032  2021-11-07  359.398955
5033  2021-11-08  358.332594
5034  2021-11-09  369.274445

[5035 rows x 2 columns]
ACN
       timestamp   avg_price
0     2008-01-02   36.097190
1     2008-01-03   35.620970
2     2008-01-04   34.970941
3     2008-01-05   34.680679
4     2008-01-06   34.390417
...          ...         ...
5009  2021-10-15  340.964570
5010  2021-10-16  341.661594
5011  2021-10-17  342.358618
5012  2021-10-18  343.055643
5013  2021-10-19  349.345461

[5014 rows x 2 columns]
AMZN
       timestamp    avg_price
0     2008-01-02    95.995534
1     2008-01-03    96.072367
2     2008-01-04    90.446724
3     2008-01-05    89.823779
4     2008-01-06    89.200835
...          ...          ...
4905  2021-07-03  3514.224080
4906  2021-07-04  3553.809078
4907  2021-07-05  3593.394076
4908  2021-07-06  3632.979074
4909  2021-07-07  3705.361914

[4910 rows x 2 columns]
APA
       timestamp   avg_price
0     2011-01-03  120.920539
1     2011-01-04  120.891322
2     2011-01-05  123.231246
3     2011-01-06  123.018707
4     2011-01-07  123.275781
...          ...         ...
3938  2021-11-04   29.136976
3939  2021-11-05   29.947300
3940  2021-11-06   30.231233
3941  2021-11-07   30.515166
3942  2021-11-08   30.799099

[3943 rows x 2 columns]
ARCB
       timestamp  avg_price
0     2014-05-01  39.041370
1     2014-05-02  38.674239
2     2014-05-03  38.919088
3     2014-05-04  39.163938
4     2014-05-05  39.408787
...          ...        ...
2718  2021-10-24  89.261799
2719  2021-10-25  89.564201
2720  2021-10-26  89.723779
2721  2021-10-27  87.879773
2722  2021-10-28  92.271075

[2723 rows x 2 columns]
AZN
       timestamp  avg_price
0     2008-01-02  42.520076
1     2008-01-03  42.728236
2     2008-01-04  41.833094
3     2008-01-05  42.167638
4     2008-01-06  42.502181
...          ...        ...
5029  2021-11-04  63.737175
5030  2021-11-05  62.764829
5031  2021-11-06  62.943416
5032  2021-11-07  63.122004
5033  2021-11-08  63.300592

[5034 rows x 2 columns]
BA
       timestamp   avg_price
0     2008-01-02   86.659367
1     2008-01-03   87.103789
2     2008-01-04   86.025967
3     2008-01-05   85.080281
4     2008-01-06   84.134595
...          ...         ...
5009  2021-10-15  217.426621
5010  2021-10-16  216.856050
5011  2021-10-17  216.285480
5012  2021-10-18  215.714909
5013  2021-10-19  216.159632

[5014 rows x 2 columns]
BAC
       timestamp  avg_price
0     2016-01-04  16.367673
1     2016-01-05  16.403137
2     2016-01-06  16.139314
3     2016-01-07  15.657761
4     2016-01-08  15.442128
...          ...        ...
2100  2021-10-15  46.130682
2101  2021-10-16  46.226563
2102  2021-10-17  46.322443
2103  2021-10-18  46.418323
2104  2021-10-19  46.427231

[2105 rows x 2 columns]
BAMXF
       timestamp   avg_price
0     2008-11-01   25.593333
1     2008-11-02   25.593333
2     2008-11-03   25.593333
3     2008-11-04   29.198889
4     2008-11-05   29.592500
...          ...         ...
4711  2021-10-23   99.419667
4712  2021-10-24  100.126833
4713  2021-10-25  100.834000
4714  2021-10-26  102.657667
4715  2021-10-27  102.252900

[4716 rows x 2 columns]
BKNG
       timestamp    avg_price
0     2018-03-01  2030.226413
1     2018-03-02  2020.704909
2     2018-03-03  2032.895898
3     2018-03-04  2045.086886
4     2018-03-05  2057.277875
...          ...          ...
1328  2021-10-24  2406.955380
1329  2021-10-25  2407.349903
1330  2021-10-26  2443.268556
1331  2021-10-27  2442.408102
1332  2021-10-28  2421.307551

[1333 rows x 2 columns]
BNTX
      timestamp   avg_price
0    2019-10-10   14.762396
1    2019-10-11   14.164622
2    2019-10-12   13.818038
3    2019-10-13   13.471453
4    2019-10-14   13.124869
..          ...         ...
752  2021-11-04  272.669012
753  2021-11-05  224.168377
754  2021-11-06  228.070558
755  2021-11-07  231.972739
756  2021-11-08  235.874920

[757 rows x 2 columns]
BP
       timestamp  avg_price
0     2008-01-02  73.425193
1     2008-01-03  74.997322
2     2008-01-04  74.371617
3     2008-01-05  74.544721
4     2008-01-06  74.717824
...          ...        ...
4927  2021-07-25  24.016204
4928  2021-07-26  24.246797
4929  2021-07-27  24.185154
4930  2021-07-28  24.334298
4931  2021-07-29  24.834807

[4932 rows x 2 columns]
BYND
      timestamp  avg_price
0    2019-05-02  61.363466
1    2019-05-03  69.395045
2    2019-05-04  69.346319
3    2019-05-05  69.297593
4    2019-05-06  69.248867
..          ...        ...
902  2021-10-24  93.959487
903  2021-10-25  93.969402
904  2021-10-26  94.966828
905  2021-10-27  96.926765
906  2021-10-28  97.898914

[907 rows x 2 columns]
CDEV
       timestamp  avg_price
0     2016-10-12  15.877598
1     2016-10-13  15.809735
2     2016-10-14  15.785409
3     2016-10-15  15.553536
4     2016-10-16  15.321664
...          ...        ...
1838  2021-11-04   7.747863
1839  2021-11-05   7.570491
1840  2021-11-06   7.681425
1841  2021-11-07   7.792359
1842  2021-11-08   7.903292

[1843 rows x 2 columns]
COLM
       timestamp   avg_price
0     2008-01-02   43.839849
1     2008-01-03   42.903100
2     2008-01-04   40.798549
3     2008-01-05   40.835232
4     2008-01-06   40.871914
...          ...         ...
5018  2021-10-24  100.028715
5019  2021-10-25  100.364124
5020  2021-10-26  100.457083
5021  2021-10-27  100.394456
5022  2021-10-28  101.546249

[5023 rows x 2 columns]
CROX
       timestamp   avg_price
0     2008-01-02   37.995632
1     2008-01-03   37.973312
2     2008-01-04   33.903526
3     2008-01-05   32.319884
4     2008-01-06   30.736242
...          ...         ...
5018  2021-10-24  154.992246
5019  2021-10-25  156.584854
5020  2021-10-26  156.054080
5021  2021-10-27  152.439561
5022  2021-10-28  155.330961

[5023 rows x 2 columns]
CTAS
       timestamp   avg_price
0     2008-01-02   32.660201
1     2008-01-03   32.964561
2     2008-01-04   32.035408
3     2008-01-05   32.175100
4     2008-01-06   32.314793
...          ...         ...
5009  2021-10-15  416.840853
5010  2021-10-16  417.419143
5011  2021-10-17  417.997432
5012  2021-10-18  418.575722
5013  2021-10-19  421.948310

[5014 rows x 2 columns]
DISH
       timestamp  avg_price
0     2008-01-02  31.932010
1     2008-01-03  32.932382
2     2008-01-04  33.514260
3     2008-01-05  33.064606
4     2008-01-06  32.614952
...          ...        ...
5030  2021-11-05  37.839574
5031  2021-11-06  37.812232
5032  2021-11-07  37.784890
5033  2021-11-08  37.757548
5034  2021-11-09  37.004640

[5035 rows x 2 columns]
DXCM
       timestamp   avg_price
0     2008-01-02    9.054039
1     2008-01-03    8.958355
2     2008-01-04    8.657092
3     2008-01-05    8.645604
4     2008-01-06    8.634117
...          ...         ...
5029  2021-11-04  626.863995
5030  2021-11-05  633.599555
5031  2021-11-06  635.283377
5032  2021-11-07  636.967199
5033  2021-11-08  638.651021

[5034 rows x 2 columns]
F
       timestamp  avg_price
0     2011-01-03  17.209104
1     2011-01-04  17.326767
2     2011-01-05  17.796325
3     2011-01-06  18.122933
4     2011-01-07  18.239905
...          ...        ...
3918  2021-10-15  15.811053
3919  2021-10-16  15.729917
3920  2021-10-17  15.648781
3921  2021-10-18  15.567646
3922  2021-10-19  15.495940

[3923 rows x 2 columns]
FANG
       timestamp   avg_price
0     2012-10-12   17.879430
1     2012-10-13   17.810263
2     2012-10-14   17.741096
3     2012-10-15   17.671929
4     2012-10-16   17.783879
...          ...         ...
3293  2021-11-04  113.056534
3294  2021-11-05  114.126771
3295  2021-11-06  114.887638
3296  2021-11-07  115.648505
3297  2021-11-08  116.409371

[3298 rows x 2 columns]
FB
       timestamp   avg_price
0     2012-06-01   28.080005
1     2012-06-02   27.733534
2     2012-06-03   27.387062
3     2012-06-04   27.040590
4     2012-06-05   26.516801
...          ...         ...
3304  2021-07-05  353.363340
3305  2021-07-06  353.061611
3306  2021-07-07  352.577046
3307  2021-07-08  345.383375
3308  2021-07-09  348.998542

[3309 rows x 2 columns]

FOXA
       timestamp  avg_price
0     2013-07-01  29.319380
1     2013-07-02  29.295647
2     2013-07-03  29.298716
3     2013-07-04  29.762270
4     2013-07-05  30.225825
...          ...        ...
3033  2021-11-05  41.569301
3034  2021-11-06  41.261425
3035  2021-11-07  40.953550
3036  2021-11-08  40.645674
3037  2021-11-09  40.617508

[3038 rows x 2 columns]
GOOGL
       timestamp    avg_price
0     2014-04-03   577.054033
1     2014-04-04   554.885365
2     2014-04-05   549.787539
3     2014-04-06   544.689712
4     2014-04-07   539.591886
...          ...          ...
2736  2021-10-14  2811.137794
2737  2021-10-15  2824.065264
2738  2021-10-16  2829.473084
2739  2021-10-17  2834.880904
2740  2021-10-18  2840.288724

[2741 rows x 2 columns]
HMC
       timestamp  avg_price
0     2008-01-02  33.284141
1     2008-01-03  33.141732
2     2008-01-04  32.655457
3     2008-01-05  32.621358
4     2008-01-06  32.587260
...          ...        ...
5009  2021-10-15  30.687026
5010  2021-10-16  30.708580
5011  2021-10-17  30.730134
5012  2021-10-18  30.751687
5013  2021-10-19  30.543778

[5014 rows x 2 columns]
HNNMY
       timestamp  avg_price
0     2008-11-01   7.350889
1     2008-11-02   7.350889
2     2008-11-03   7.350889
3     2008-11-04   7.741897
4     2008-11-05   7.353144
...          ...        ...
4705  2021-10-15   3.855256
4706  2021-10-16   3.850245
4707  2021-10-17   3.845234
4708  2021-10-18   3.840223
4709  2021-10-19   3.924265

[4710 rows x 2 columns]
IBM
       timestamp   avg_price
0     2008-01-02  105.246468
1     2008-01-03  104.918729
2     2008-01-04  101.848783
3     2008-01-05  101.245515
4     2008-01-06  100.642247
...          ...         ...
5009  2021-10-15  144.210368
5010  2021-10-16  143.839038
5011  2021-10-17  143.467707
5012  2021-10-18  143.096377
5013  2021-10-19  141.965291

[5014 rows x 2 columns]
IDXX
       timestamp   avg_price
0     2008-01-02   58.239221
1     2008-01-03   58.751922
2     2008-01-04   58.335102
3     2008-01-05   58.377390
4     2008-01-06   58.419677
...          ...         ...
5029  2021-11-04  633.747329
5030  2021-11-05  640.450305
5031  2021-11-06  637.471391
5032  2021-11-07  634.492478
5033  2021-11-08  631.513565

[5034 rows x 2 columns]
IHRT
       timestamp  avg_price
0     2014-10-01   9.227147
1     2014-10-02   8.677277
2     2014-10-03   8.566667
3     2014-10-04   8.568730
4     2014-10-05   8.570794
...          ...        ...
2089  2021-11-05  20.022901
2090  2021-11-06  20.114214
2091  2021-11-07  20.205528
2092  2021-11-08  20.296841
2093  2021-11-09  20.872652

[2094 rows x 2 columns]
INTC
       timestamp  avg_price
0     2008-01-02  25.402763
1     2008-01-03  24.691932
2     2008-01-04  22.904702
3     2008-01-05  22.841843
4     2008-01-06  22.778984
...          ...        ...
5017  2021-10-23  49.722641
5018  2021-10-24  49.688061
5019  2021-10-25  49.653480
5020  2021-10-26  48.376240
5021  2021-10-27  48.234510

[5022 rows x 2 columns]
JJSF
       timestamp   avg_price
0     2008-01-02   30.373550
1     2008-01-03   29.949660
2     2008-01-04   28.901670
3     2008-01-05   28.909911
4     2008-01-06   28.918151
...          ...         ...
5018  2021-10-24  147.932525
5019  2021-10-25  147.665826
5020  2021-10-26  147.916523
5021  2021-10-27  147.113301
5022  2021-10-28  148.285864

[5023 rows x 2 columns]
JPM
       timestamp   avg_price
0     2013-01-02   44.575731
1     2013-01-03   44.464827
2     2013-01-04   44.970146
3     2013-01-05   45.068733
4     2013-01-06   45.167320
...          ...         ...
3192  2021-10-15  165.793570
3193  2021-10-16  166.243730
3194  2021-10-17  166.693890
3195  2021-10-18  167.144050
3196  2021-10-19  167.680344

[3197 rows x 2 columns]
KHC
       timestamp  avg_price
0     2015-07-06  73.212774
1     2015-07-07  73.786290
2     2015-07-08  74.776096
3     2015-07-09  75.031656
4     2015-07-10  76.648882
...          ...        ...
2288  2021-10-24  36.319424
2289  2021-10-25  36.259382
2290  2021-10-26  36.559897
2291  2021-10-27  36.327408
2292  2021-10-28  36.174020

[2293 rows x 2 columns]
KNDI
       timestamp  avg_price
0     2008-04-01   6.338207
1     2008-04-02   6.138367
2     2008-04-03   6.199752
3     2008-04-04   5.947145
4     2008-04-05   5.935407
...          ...        ...
4927  2021-10-23   4.419400
4928  2021-10-24   4.429698
4929  2021-10-25   4.439996
4930  2021-10-26   4.449962
4931  2021-10-27   4.294616

[4932 rows x 2 columns]
LI
      timestamp  avg_price
0    2020-08-01  16.452708
1    2020-08-02  16.452708
2    2020-08-03  16.452708
3    2020-08-04  16.432710
4    2020-08-05  16.705293
..          ...        ...
445  2021-10-23  32.804386
446  2021-10-24  33.267432
447  2021-10-25  33.730477
448  2021-10-26  33.759098
449  2021-10-27  33.243662

[450 rows x 2 columns]
LOGI
       timestamp  avg_price
0     2008-01-02  36.185514
1     2008-01-03  36.189503
2     2008-01-04  34.832643
3     2008-01-05  34.203326
4     2008-01-06  33.574009
...          ...        ...
5017  2021-10-23  89.631645
5018  2021-10-24  89.517638
5019  2021-10-25  89.403632
5020  2021-10-26  84.745177
5021  2021-10-27  83.919677

[5022 rows x 2 columns]
LPLA
       timestamp   avg_price
0     2010-12-01   34.777505
1     2010-12-02   34.753312
2     2010-12-03   34.657977
3     2010-12-04   34.860746
4     2010-12-05   35.063515
...          ...         ...
3957  2021-10-23  174.521040
3958  2021-10-24  174.734621
3959  2021-10-25  174.948201
3960  2021-10-26  175.554936
3961  2021-10-27  173.046701

[3962 rows x 2 columns]
LYFT
      timestamp  avg_price
0    2019-04-01  70.609095
1    2019-04-02  68.353301
2    2019-04-03  70.748123
3    2019-04-04  71.818554
4    2019-04-05  74.710470
..          ...        ...
933  2021-10-24  48.311416
934  2021-10-25  48.198488
935  2021-10-26  48.139276
936  2021-10-27  47.039078
937  2021-10-28  46.825858

[938 rows x 2 columns]
MASI
       timestamp   avg_price
0     2008-01-02   39.231890
1     2008-01-03   38.432618
2     2008-01-04   39.515019
3     2008-01-05   39.312552
4     2008-01-06   39.110084
...          ...         ...
5030  2021-11-05  282.822121
5031  2021-11-06  283.678053
5032  2021-11-07  284.533985
5033  2021-11-08  285.389916
5034  2021-11-09  287.342102

[5035 rows x 2 columns]
MCD
       timestamp   avg_price
0     2008-01-02   58.304304
1     2008-01-03   58.303419
2     2008-01-04   56.927626
3     2008-01-05   57.189419
4     2008-01-06   57.451212
...          ...         ...
5010  2021-10-16  243.185218
5011  2021-10-17  242.711765
5012  2021-10-18  242.238313
5013  2021-10-19  242.696254
5014  2021-10-20  240.851726

[5015 rows x 2 columns]
MRNA
       timestamp   avg_price
0     2008-06-11    1.208779
1     2008-06-12    1.227047
2     2008-06-13    1.208537
3     2008-06-14    1.232161
4     2008-06-15    1.255785
...          ...         ...
4838  2021-11-04  287.175492
4839  2021-11-05  228.454515
4840  2021-11-06  232.474246
4841  2021-11-07  236.493977
4842  2021-11-08  240.513707

[4843 rows x 2 columns]
MS
       timestamp   avg_price
0     2011-01-03   28.211498
1     2011-01-04   28.266609
2     2011-01-05   28.604315
3     2011-01-06   28.783635
4     2011-01-07   28.365388
...          ...         ...
3918  2021-10-15  102.590262
3919  2021-10-16  102.382158
3920  2021-10-17  102.174055
3921  2021-10-18  101.965951
3922  2021-10-19  101.792185

[3923 rows x 2 columns]
MSFT
       timestamp   avg_price
0     2008-01-02   35.353377
1     2008-01-03   35.324531
2     2008-01-04   34.490570
3     2008-01-05   34.504501
4     2008-01-06   34.518432
...          ...         ...
5008  2021-10-14  300.917655
5009  2021-10-15  302.448666
5010  2021-10-16  303.473752
5011  2021-10-17  304.498837
5012  2021-10-18  305.523923

[5013 rows x 2 columns]
NEXT
       timestamp  avg_price
0     2008-01-02  19.887503
1     2008-01-03  19.903897
2     2008-01-04  19.905050
3     2008-01-05  19.904195
4     2008-01-06  19.903340
...          ...        ...
1578  2021-11-04   3.700188
1579  2021-11-05   3.746726
1580  2021-11-06   3.809975
1581  2021-11-07   3.873224
1582  2021-11-08   3.936473

[1583 rows x 2 columns]
NTR
       timestamp  avg_price
0     2018-01-02  53.079328
1     2018-01-03  55.263204
2     2018-01-04  55.440800
3     2018-01-05  55.528969
4     2018-01-06  55.103271
...          ...        ...
1397  2021-11-04  67.786678
1398  2021-11-05  66.828171
1399  2021-11-06  67.453600
1400  2021-11-07  68.079029
1401  2021-11-08  68.704458

[1402 rows x 2 columns]

NTRS
       timestamp   avg_price
0     2008-01-02   74.610195
1     2008-01-03   76.105090
2     2008-01-04   74.178422
3     2008-01-05   73.911758
4     2008-01-06   73.645094
...          ...         ...
5017  2021-10-23  124.843356
5018  2021-10-24  124.353916
5019  2021-10-25  123.864476
5020  2021-10-26  123.325379
5021  2021-10-27  121.696607

[5022 rows x 2 columns]
NWSA
       timestamp  avg_price
0     2009-01-02   9.524413
1     2009-01-03   9.512732
2     2009-01-04   9.501052
3     2009-01-05   9.489371
4     2009-01-06   9.856391
...          ...        ...
4665  2021-11-05  24.187205
4666  2021-11-06  24.180973
4667  2021-11-07  24.174741
4668  2021-11-08  24.168508
4669  2021-11-09  23.635473

[4670 rows x 2 columns]
NXST
       timestamp   avg_price
0     2008-01-02    9.076037
1     2008-01-03    8.409779
2     2008-01-04    8.695336
3     2008-01-05    8.642303
4     2008-01-06    8.589269
...          ...         ...
5030  2021-11-05  166.431711
5031  2021-11-06  167.100716
5032  2021-11-07  167.769720
5033  2021-11-08  168.438725
5034  2021-11-09  169.223914

[5035 rows x 2 columns]
OAS
       timestamp   avg_price
0     2010-06-17   14.757651
1     2010-06-18   15.104093
2     2010-06-19   15.338238
3     2010-06-20   15.572383
4     2010-06-21   15.806528
...          ...         ...
4136  2021-11-04  122.104456
4137  2021-11-05  123.038400
4138  2021-11-06  123.661532
4139  2021-11-07  124.284664
4140  2021-11-08  124.907796

[4141 rows x 2 columns]
OZK
       timestamp  avg_price
0     2018-07-16  42.367678
1     2018-07-17  42.727718
2     2018-07-18  42.597305
3     2018-07-19  42.373284
4     2018-07-20  42.197825
...          ...        ...
1190  2021-10-23  45.192443
1191  2021-10-24  45.333638
1192  2021-10-25  45.474834
1193  2021-10-26  45.613385
1194  2021-10-27  43.811504

[1195 rows x 2 columns]
PAA
       timestamp  avg_price
0     2008-01-02  51.794653
1     2008-01-03  51.790803
2     2008-01-04  50.772816
3     2008-01-05  50.740373
4     2008-01-06  50.707931
...          ...        ...
5029  2021-11-04  10.565108
5030  2021-11-05  10.655834
5031  2021-11-06  10.699830
5032  2021-11-07  10.743825
5033  2021-11-08  10.787821

[5034 rows x 2 columns]
PAGP
       timestamp  avg_price
0     2013-10-16  22.317150
1     2013-10-17  21.823778
2     2013-10-18  21.961891
3     2013-10-19  21.934963
4     2013-10-20  21.908036
...          ...        ...
2925  2021-11-04  11.373658
2926  2021-11-05  11.476286
2927  2021-11-06  11.497707
2928  2021-11-07  11.519128
2929  2021-11-08  11.540549

[2930 rows x 2 columns]
PCAR
       timestamp  avg_price
0     2008-01-02  53.585823
1     2008-01-03  53.472510
2     2008-01-04  51.115147
3     2008-01-05  51.109809
4     2008-01-06  51.104472
...          ...        ...
5017  2021-10-23  87.056044
5018  2021-10-24  87.025427
5019  2021-10-25  86.994810
5020  2021-10-26  86.864080
5021  2021-10-27  85.324155

[5022 rows x 2 columns]
PDCE
       timestamp  avg_price
0     2012-07-16  25.900725
1     2012-07-17  26.177180
2     2012-07-18  26.804909
3     2012-07-19  26.537635
4     2012-07-20  26.794177
...          ...        ...
3381  2021-11-04  54.731095
3382  2021-11-05  57.180631
3383  2021-11-06  57.502669
3384  2021-11-07  57.824707
3385  2021-11-08  58.146745

[3386 rows x 2 columns]
PEP
       timestamp   avg_price
0     2008-01-02   75.222282
1     2008-01-03   76.094045
2     2008-01-04   75.819434
3     2008-01-05   76.218554
4     2008-01-06   76.617674
...          ...         ...
5009  2021-10-15  158.243132
5010  2021-10-16  158.165212
5011  2021-10-17  158.087292
5012  2021-10-18  158.009373
5013  2021-10-19  159.085302

[5014 rows x 2 columns]
PPC
       timestamp  avg_price
0     2008-01-02  28.446422
1     2008-01-03  26.283318
2     2008-01-04  24.916805
3     2008-01-05  25.115427
4     2008-01-06  25.314049
...          ...        ...
4627  2021-10-24  29.034510
4628  2021-10-25  29.028115
4629  2021-10-26  28.977439
4630  2021-10-27  28.908287
4631  2021-10-28  28.402797

[4632 rows x 2 columns]
PYPL
       timestamp   avg_price
0     2015-07-20   40.746199
1     2015-07-21   40.312993
2     2015-07-22   38.884063
3     2015-07-23   37.631099
4     2015-07-24   37.319512
...          ...         ...
2273  2021-10-23  244.708363
2274  2021-10-24  247.338963
2275  2021-10-25  249.969564
2276  2021-10-26  243.500716
2277  2021-10-27  236.993346

[2278 rows x 2 columns]
RACE
       timestamp   avg_price
0     2016-01-04   47.151655
1     2016-01-05   48.144775
2     2016-01-06   47.233192
3     2016-01-07   46.653836
4     2016-01-08   44.217121
...          ...         ...
2100  2021-10-15  223.334385
2101  2021-10-16  222.935865
2102  2021-10-17  222.537344
2103  2021-10-18  222.138823
2104  2021-10-19  225.012966

[2105 rows x 2 columns]
ROKU
       timestamp   avg_price
0     2017-10-01   24.363518
1     2017-10-02   24.363518
2     2017-10-03   21.769186
3     2017-10-04   21.708044
4     2017-10-05   21.829054
...          ...         ...
1488  2021-11-05  280.675052
1489  2021-11-06  279.930813
1490  2021-11-07  279.186574
1491  2021-11-08  278.442336
1492  2021-11-09  278.845715

[1493 rows x 2 columns]
RYAAY
       timestamp   avg_price
0     2008-01-02   38.766639
1     2008-01-03   36.804740
2     2008-01-04   34.539072
3     2008-01-05   34.493213
4     2008-01-06   34.447353
...          ...         ...
5017  2021-10-23  108.733620
5018  2021-10-24  109.073650
5019  2021-10-25  109.413680
5020  2021-10-26  109.274362
5021  2021-10-27  108.527496

[5022 rows x 2 columns]
SBUX
       timestamp   avg_price
0     2008-01-02   19.553720
1     2008-01-03   18.717114
2     2008-01-04   18.203625
3     2008-01-05   18.306598
4     2008-01-06   18.409570
...          ...         ...
5010  2021-10-16  112.119041
5011  2021-10-17  112.499008
5012  2021-10-18  112.878975
5013  2021-10-19  113.421154
5014  2021-10-20  114.231328

[5015 rows x 2 columns]
SGEN
       timestamp   avg_price
0     2008-01-02   11.244428
1     2008-01-03   11.003107
2     2008-01-04   10.591249
3     2008-01-05   10.622663
4     2008-01-06   10.654076
...          ...         ...
5029  2021-11-04  188.222503
5030  2021-11-05  188.828538
5031  2021-11-06  189.187555
5032  2021-11-07  189.546572
5033  2021-11-08  189.905589

[5034 rows x 2 columns]
SGMS
       timestamp  avg_price
0     2008-01-02  33.052437
1     2008-01-03  32.809748
2     2008-01-04  31.953225
3     2008-01-05  31.805056
4     2008-01-06  31.656888
...          ...        ...
5030  2021-11-05  82.520187
5031  2021-11-06  81.691504
5032  2021-11-07  80.862822
5033  2021-11-08  80.034139
5034  2021-11-09  79.733455

[5035 rows x 2 columns]
SKYW
       timestamp  avg_price
0     2008-01-02  26.459964
1     2008-01-03  26.783044
2     2008-01-04  26.260465
3     2008-01-05  26.160614
4     2008-01-06  26.060763
...          ...        ...
5018  2021-10-24  46.800879
5019  2021-10-25  46.789549
5020  2021-10-26  46.765922
5021  2021-10-27  45.731216
5022  2021-10-28  45.827176

[5023 rows x 2 columns]
SMRT
       timestamp  avg_price
0     2008-01-02   4.679810
1     2008-01-03   4.421322
2     2008-01-04   4.033839
3     2008-01-05   4.077864
4     2008-01-06   4.121888
...          ...        ...
4653  2021-10-24  12.081927
4654  2021-10-25  12.064489
4655  2021-10-26  11.988282
4656  2021-10-27  12.792571
4657  2021-10-28  13.228999

[4658 rows x 2 columns]
SNY
       timestamp  avg_price
0     2008-01-02  45.772424
1     2008-01-03  45.210883
2     2008-01-04  45.091917
3     2008-01-05  45.486474
4     2008-01-06  45.881030
...          ...        ...
5029  2021-11-04  51.764305
5030  2021-11-05  51.207471
5031  2021-11-06  51.192290
5032  2021-11-07  51.177108
5033  2021-11-08  51.161927

[5034 rows x 2 columns]
TM
       timestamp   avg_price
0     2008-01-02  107.023539
1     2008-01-03  106.716783
2     2008-01-04  104.739123
3     2008-01-05  104.597029
4     2008-01-06  104.454936
...          ...         ...
5009  2021-10-15  176.052209
5010  2021-10-16  176.784798
5011  2021-10-17  177.517387
5012  2021-10-18  178.249976
5013  2021-10-19  178.539330

[5014 rows x 2 columns]
UAL
       timestamp  avg_price
0     2010-10-01  24.676663
1     2010-10-02  24.595809
2     2010-10-03  24.514955
3     2010-10-04  24.434101
4     2010-10-05  24.579061
...          ...        ...
4019  2021-10-24  46.645391
4020  2021-10-25  46.621593
4021  2021-10-26  47.039798
4022  2021-10-27  46.416245
4023  2021-10-28  45.904738

[4024 rows x 2 columns]

UBER
      timestamp  avg_price
0    2019-05-10  43.266797
1    2019-05-11  41.373783
2    2019-05-12  39.480769
3    2019-05-13  37.587755
4    2019-05-14  38.080084
..          ...        ...
885  2021-10-15  48.344959
886  2021-10-16  47.934259
887  2021-10-17  47.523560
888  2021-10-18  47.112860
889  2021-10-19  47.149621

[890 rows x 2 columns]
UL
       timestamp  avg_price
0     2008-01-02  37.324524
1     2008-01-03  37.519045
2     2008-01-04  37.112330
3     2008-01-05  37.347182
4     2008-01-06  37.582034
...          ...        ...
5010  2021-10-16  52.898878
5011  2021-10-17  52.802274
5012  2021-10-18  52.705670
5013  2021-10-19  52.394376
5014  2021-10-20  52.832423

[5015 rows x 2 columns]
UPS
       timestamp   avg_price
0     2008-01-02   69.437286
1     2008-01-03   69.341103
2     2008-01-04   68.477708
3     2008-01-05   68.341078
4     2008-01-06   68.204449
...          ...         ...
5009  2021-10-15  193.022922
5010  2021-10-16  193.310100
5011  2021-10-17  193.597279
5012  2021-10-18  193.884457
5013  2021-10-19  193.931105

[5014 rows x 2 columns]
URBN
       timestamp  avg_price
0     2008-01-02  27.296883
1     2008-01-03  27.673007
2     2008-01-04  26.827286
3     2008-01-05  26.618183
4     2008-01-06  26.409080
...          ...        ...
5018  2021-10-24  31.399532
5019  2021-10-25  31.615654
5020  2021-10-26  31.523879
5021  2021-10-27  30.857270
5022  2021-10-28  31.568787

[5023 rows x 2 columns]
V
       timestamp   avg_price
0     2008-04-01   62.095096
1     2008-04-02   61.253631
2     2008-04-03   64.282640
3     2008-04-04   64.666306
4     2008-04-05   64.778220
...          ...         ...
4919  2021-10-15  229.916861
4920  2021-10-16  230.179964
4921  2021-10-17  230.443068
4922  2021-10-18  230.706171
4923  2021-10-19  232.643390

[4924 rows x 2 columns]
VIACA
      timestamp  avg_price
0    2019-12-05  43.382845
1    2019-12-06  43.072729
2    2019-12-07  42.813030
3    2019-12-08  42.553331
4    2019-12-09  42.293632
..          ...        ...
697  2021-11-05  39.013780
698  2021-11-06  38.873028
699  2021-11-07  38.732276
700  2021-11-08  38.591524
701  2021-11-09  38.169599

[702 rows x 2 columns]
VLKAF
       timestamp   avg_price
0     2009-12-01  122.000000
1     2009-12-02  122.000000
2     2009-12-03  124.000000
3     2009-12-04  122.406600
4     2009-12-05  121.675280
...          ...         ...
4314  2021-10-23  325.068853
4315  2021-10-24  327.850849
4316  2021-10-25  330.632845
4317  2021-10-26  341.457074
4318  2021-10-27  333.013794

[4319 rows x 2 columns]
VRM
      timestamp  avg_price
0    2020-06-09  44.336350
1    2020-06-10  51.956376
2    2020-06-11  44.718646
3    2020-06-12  43.495002
4    2020-06-13  42.959359
..          ...        ...
510  2021-11-04  19.565909
511  2021-11-05  19.349465
512  2021-11-06  19.277313
513  2021-11-07  19.205160
514  2021-11-08  19.133007

[515 rows x 2 columns]
WEYS
       timestamp  avg_price
0     2008-01-02  27.202892
1     2008-01-03  26.982058
2     2008-01-04  26.656711
3     2008-01-05  27.063863
4     2008-01-06  27.471014
...          ...        ...
5009  2021-10-15  23.013359
5010  2021-10-16  23.054189
5011  2021-10-17  23.095019
5012  2021-10-18  23.135849
5013  2021-10-19  23.596760

[5014 rows x 2 columns]
WFRD
      timestamp  avg_price
0    2021-06-02  14.070056
1    2021-06-03  13.964683
2    2021-06-04  14.927670
3    2021-06-05  15.277376
4    2021-06-06  15.627081
..          ...        ...
155  2021-11-04  32.638872
156  2021-11-05  32.732652
157  2021-11-06  32.609628
158  2021-11-07  32.486603
159  2021-11-08  32.363579

[160 rows x 2 columns]
WKHS
       timestamp  avg_price
0     2015-04-16   0.374971
1     2015-04-17   0.386452
2     2015-04-18   0.385541
3     2015-04-19   0.384631
4     2015-04-20   0.383720
...          ...        ...
2344  2021-10-23   6.321831
2345  2021-10-24   6.366129
2346  2021-10-25   6.410427
2347  2021-10-26   6.867760
2348  2021-10-27   6.700609

[2349 rows x 2 columns]
WMG
       timestamp  avg_price
0     2008-01-02   5.948448
1     2008-01-03   5.443692
2     2008-01-04   5.203729
3     2008-01-05   5.143768
4     2008-01-06   5.083806
...          ...        ...
1806  2021-11-05  48.266301
1807  2021-11-06  48.200874
1808  2021-11-07  48.135448
1809  2021-11-08  48.070021
1810  2021-11-09  47.837427

[1811 rows x 2 columns]
ZM
      timestamp   avg_price
0    2019-05-01   74.251127
1    2019-05-02   72.475799
2    2019-05-03   78.429412
3    2019-05-04   78.392976
4    2019-05-05   78.356540
..          ...         ...
902  2021-10-23  280.565653
903  2021-10-24  280.707591
904  2021-10-25  280.849529
905  2021-10-26  281.853173
906  2021-10-27  277.146150

[907 rows x 2 columns]

In [17]:
path = 'SHOO.csv'

In [18]:
company = pd.read_csv(path, index_col=0)
company

       timestamp  avg_price
0     2008-01-02  19.564474
1     2008-01-03  19.166995
2     2008-01-04  18.341457
3     2008-01-05  18.120003
4     2008-01-06  17.898549
...          ...        ...
5040  2021-11-15  49.785855
5041  2021-11-16  50.997777
5042  2021-11-17  50.774033
5043  2021-11-18  50.810329
5044  2021-11-19  49.137896

[5045 rows x 2 columns]

In [21]:
time_period = '2018-10-11'
company[company.timestamp > time_period]

       timestamp  avg_price
3915  2018-10-12  30.226421
3916  2018-10-13  30.222686
3917  2018-10-14  30.218952
3918  2018-10-15  30.215217
3919  2018-10-16  30.314034
...          ...        ...
5040  2021-11-15  49.785855
5041  2021-11-16  50.997777
5042  2021-11-17  50.774033
5043  2021-11-18  50.810329
5044  2021-11-19  49.137896

[1130 rows x 2 columns]

In [22]:
final = company[company.timestamp > time_period].reset_index(drop=True)
final

       timestamp  avg_price
0     2018-10-12  30.226421
1     2018-10-13  30.222686
2     2018-10-14  30.218952
3     2018-10-15  30.215217
4     2018-10-16  30.314034
...          ...        ...
1125  2021-11-15  49.785855
1126  2021-11-16  50.997777
1127  2021-11-17  50.774033
1128  2021-11-18  50.810329
1129  2021-11-19  49.137896

[1130 rows x 2 columns]

In [23]:
final.to_csv(path)